<!DOCTYPE html>
<html lang="en">
<head>
    <title>Redis Availability dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        .b-example-divider {
          width: 100%;
          height: 0.5rem;
          background-color: rgba(0, 0, 0, .1);
          border: solid rgba(0, 0, 0, .15);
          border-width: 1px 0;
          box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="pb-2 border-bottom">Redis endpoint availability</h2>
            <div class="col-sm">
                <h3>{{ region1 }}</h3>
                <div id="status_{{ region1 }}"></div>
            </div>
            <div class="col-sm">
                <h3>Failover-Enabled</h3>
                <div id="status_failover"></div>
                
            </div>
            <div class="col-sm">
                <h3>{{ region2 }}</h3>
                <div id="status_{{ region2 }}"></div>
            </div>
            
        </div>
        <div class="row">
        <p>  </p>
        </div>
        <div class="row">
            <h2 class="pb-2 border-bottom">Redis Enterprise Cluster status</h2>
            <div class="col-md">
                <h3>redis-{{ region1 }}</h3>
                <ul class="list-group" id="cl_{{ region1 }}"></ul>
            </div>
            <div class="col-md">
                <h3>redis-{{ region2 }}</h3>
                <ul class="list-group" id="cl_{{ region2 }}"></ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
        function getRedisStatus(region) {
            $.ajax({
                type: "GET",
                url: "redis/"+region
            }).then(function(data) {
                $("#status_"+region).empty()
                if (data.message.includes("Error")) {
                    cls="bg-danger"
                } else {
                    cls="bg-success"
                }
                $("#status_"+region).append("<span class=\"badge "+cls+"\">"+data.message+"</span>")
            });
        }

        function getRedisStatusHA() {
            $.ajax({
                type: "GET",
                url: "redisha"
            }).then(function(data) {
                $("#status_failover").empty()
                if (data.message.includes("Error")) {
                    cls="bg-danger"
                } else {
                    cls="bg-success"
                }
                $("#status_failover").append("<span class=\"badge "+cls+"\">"+data.message+"</span>")
                //$("#status_east").append(Math.random())
                //alert(data.message)
            });
        }

        function getClusterStatus(region) {
            $.ajax({
                type: "GET",
                url: "cluster/"+region
            }).then(function(data) {
                //alert(data)
                $("#cl_"+region).empty()
                if (data.hasOwnProperty("message")) {
                    $("#cl_"+region).append("<span class=\"badge bg-danger\">"+data.message+"</span>")
                }
                //alert(data.node_1)
                for (i=1;i<4;i++) {
                    node="node_"+i
                    status=data[node].status
                    if (status=="active") {
                        list_class="list-group-item-success"
                    }
                    if (status=="down") {
                        list_class="list-group-item-danger"
                    }
                    shards=""
                    for (const shard of data[node].shards) {
                        if (shard.status=="active") {
                            shard_color=" text-bg-success "
                        } else if (shard.status=="recovery") {
                            shard_color=" text-bg-danger "
                            //recovery
                        } else {
                            shard_color=" text-bg-danger "
                            //recovery
                        }
                        shards=shards+"<span class=\"badge rounded-pill "+shard_color+"\">db-"+shard.bdb_uid+" "+shard.role+" " + shard.detailed_status+"</span>";
                    }
                    $("#cl_"+region).append("<li class=\"list-group-item "+list_class+"\">"+node+" "+status+" "+shards+"</li>")                    
                }

                //$("#status_east").append(Math.random())
                //alert(data.message)
            });
        }
        region1="{{ region1 }}"
        region2="{{ region2 }}"
        
        function updateDashboard() {
            getRedisStatus(region1)
            getRedisStatus(region2)
            getRedisStatusHA()
            getClusterStatus(region1)
            getClusterStatus(region2)
        }

        //run these once to populate the screen
        updateDashboard()
        
        var intervalId = window.setInterval(function(){
            updateDashboard()
        }, 5000); 
</script>
</body>
</html>